form.subscription(class=isMainPage ? 'subscription--background' : '', method="POST", action="https://echo.htmlacademy.ru/")
	h2.subheading
		label(for="email") Подпишитесь на рассылку
	p._lead#email-desc Только полезная информация и никакого спама, честное бойскаутское!
	input._input.label#email(type="email", name="email", placeholder="Ваш e-mail", required, aria-describedby="email-desc")

	button.button._submit(type="submit") Подписаться
