@use "../common/mixins";

.footer {
	padding: 28px var(--side-offset) 23px;
	display: grid;
	justify-items: center;
	gap: 34px 20px;
	&__tag {
		font-weight: 700;
		font-size: 21px;
		line-height: 1.24;

		color: #000000;
		text-decoration: none;
	}

	&__socials {
		display: grid;
		grid-auto: {
			flow: column;
			rows: 48px;
			columns: 48px;
		}
		gap: 8px;
		list-style: none;
		padding: 0;
		margin: 0 auto 4px;
	}

	&__social {
		padding: 0;
		display: grid;
		height: 100%;
		place-items: center;
	}

	&__copyright {
		display: flex;
		font: {
			weight: 400;
			size: 14px;
		}
		line-height: 1.5;
		gap: 6px;
		align-items: center;
	}

	@media (min-width: 600px) {
		grid-auto-flow: column;
		justify-content: space-between;
		align-items: center;

		&__social {
			margin-bottom: 0;
		}
	}
}
