.gallery {
	padding: 37px 0 0;
	&__title {
		margin: 0 0 20px;
	}

	&__subtitle {
		max-width: 458px;
		margin: 0 auto 70px;
	}

	&__list {
		margin: 25px 0 16px;
		text-align: left;
		text-transform: none;
		border-bottom: 1px solid #e5e5e5;
	}

	&__post {
		border-top: 1px solid #e5e5e5;
	}

	@media (min-width: 500px) {
		padding: 62px var(--side-offset) 58px;
		&__list {
			display: grid;
			grid-template-columns: 1fr 1fr;
			border-bottom: none;
		}

		&__post {
			border-top: none;
			&:first-child {
				grid-column: 1 / -1;
			}
		}
	}
	@media (min-width: 900px) {
		padding: 100px 0 62px;
		&__list {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
