@use "../common/mixins";

$breakpoint: 700px;

.header {
	display: grid;
	position: sticky;
	overflow: visible;
	z-index: 10;
	top: 0;
	background-color: #fff;
	&__logo {
		position: absolute;
		top: 0;
		left: calc(50% - #{185px * 0.5});
		z-index: 2;
	}

	&__toggler {
		justify-self: end;
		padding: 17px 20px;
		color: hsl(203, 47%, 66%);
		z-index: 12;
	}

	&__nav-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__link {
		color: inherit;
		display: flex;
		font-size: 18px;
		line-height: 1.44;
		padding: 18px 20px;
		height: 100%;
		place-content: center;
		align-items: center;
		text: {
			decoration: none;
			transform: uppercase;
		}
	}

	@media (max-width: ($breakpoint - 1px)) {
		&__nav {
			margin-top: 96px;
			color: hsl(0, 0%, 100%);
			transition: opacity 0.3s ease-in-out;
			width: 100%;

			&--enabled {
				opacity: 0;
				position: absolute;
				pointer-events: none;
				margin: 0;
			}

			&--opened {
				opacity: 1;
				z-index: 10;
				pointer-events: auto;
			}
		}

		&__link {
			background-color: hsl(203, 47%, 66%);
			border: {
				bottom: 1px solid hsla(0, 0%, 0%, 0.2);
				top: 1px solid hsla(0, 0%, 100%, 0.2);
			}

			&[href] {
				@include mixins.focus-hover {
					background-color: hsl(203, 42%, 58%);
					border-bottom: 1px solid hsla(0, 0%, 0%, 0.4);
					border-top: 1px solid hsla(0, 0%, 100%, 0.4);
				}
			}
		}
	}

	@media (min-width: $breakpoint) {
		&__toggler {
			display: none;
		}

		&__nav-list {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-auto-rows: 56px;
		}

		&__item {
			&:nth-child(4n + 3) {
				grid-column: 4 / 5;
			}
		}

		&__link {
			font-weight: 700;
			font-size: 14px;
			line-height: 1.5;
			padding: 10px;
			transition: background-color 0.3s ease-in-out;
			&:not([href]) {
				color: hsl(23, 15%, 40%);
			}

			&[href] {
				@include mixins.focus-hover {
					color: hsl(23, 15%, 40%);
					background-color: rgba(hsl(203, 47%, 66%), 10%);
					// text-decoration: underline hsl(23, 15%, 40%) 2px;
					// text-underline-offset: 22px;
				}
			}
		}
	}
}
