.map {
	background-image: url(../img/map.jpg);
	background-color: hsl(48, 16%, 94%);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
	width: 100%;
	border: none;
}
