@use "./fonts";

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
}


/* Handle */
::-webkit-scrollbar-thumb {
	background: hsl(202, 44%, 54%);
	border-radius: 10px;

	&:hover {
		background: hsl(203deg 42% 58%);
	}
}

::selection {
	color: #ffffff;
	background-color: hsl(202, 44%, 54%);
}
