section.cta
	h2.subheading Заинтересовались?
	p Укажите предполагаемые даты поездки,
		br
		| и мы покажем вам лучшие предложения гостиниц в Седоне
	button(type="button").button.-secondary Поиск гостиницы в Седоне
