section.cta
	h2._title Заинтересовались?
	p._text Укажите предполагаемые даты поездки,
		br
		| и мы покажем вам лучшие предложения гостиниц в Седоне
	button(type="button").button._button Найти гостиницу
