section.intro
	h1.visually-hidden Добро пожаловать в прекрасную Седону!
	img._image(src="img/welcome.svg", alt="«Потому что Гранд Каньон отстой!»", width=282, height=214)

	//- role="blockquote"

	//- Альтернативно , но не стоит
	//- img._image(src="img/welcome.svg", alt="Добро пожаловать в прекрасную Седону!", role="heading" aria-level=1 width=458, height=352)
	//- aria-description="«Потому что Гранд Каньон отстой!»"
