if isMainPage
	section.intro
		h1.page__hidden Добро пожаловать в прекрасную Седону!
		svg._image(width=282, height=214, aria-labelledby="intro-title" role="blockquote")
			title#intro-title Потому что Гранд Каньон отстой!
			use(href="img/intro.svg#full")
else
	div.intro.-simple
		svg._image.-simple(width=229, height=39, aria-labelledby="intro-title" role="img")
			title#intro-title Седона
			use(href="img/intro.svg#sedona")
